{%extends "base.html"%}
{%block title%} Añadir Proveedores {%endblock%}

{%block content%}
<div class="container">
    <div class="row">
        <div class="col">
            <h1>Agregar Proveedores</h1>
        </div> 
    </div>

    <div class="mt-4 row justify-content-center">
        <div class="col-md-4">
            <form action="" method="POST" class="form-control bg-dark text-white" style="--bs-bg-opacity: .5;">
                {%csrf_token%}

                {% if form.errors %}
                    <div class="alert alert-info">
                        {{form.errors.prov_nombre.0}}
                        {{form.errors.prov_telefono.0}}
                    </div>
                {% endif %}

                <div class="mx-4 my-2 row">
                    
                    <div class="mb-3 col-12">
                        <label for="id_mp_nombre" class="form-label">NIT: </label>
                        {{form.nit}}   
                    </div>
              
               
                    <div class="mb-3 col-12">
                        <label for="id_mp_fechallegada" class="form-label">Razon Social:</label>
                        {{form.prov_nombre}}   
                    </div>

                    <div class="mb-3 col-12">
                        <label for="id_mp_fechavencimiento" class="form-label">Teléfono</label>
                        <br>
                        {{form.prov_telefono}}  
                    </div>

                    <div class="col">
                        <button class="btn btn-success" type="submit">Guardar</button>
                        |
                        <a href="{% url 'proveedores_app:list_proveedores' %}" type="button" class="btn btn-danger">Cancelar</a>
                    </div>
                </div>
                
            </form>
        </div>
    </div>
</div>    
{%endblock%}