{%extends "base.html"%}
{%block title%} Eliminar Proveedor {%endblock%}

{%block content%}
<div class="container">
    <div class="row">
        <div class="col">
            <h1>Eliminar Proveedor</h1>
        </div> 
    </div>

    <div class="mt-4 row justify-content-center">
        <div class="col-md-4">
            <form action="{% url 'proveedores_app:delete_proveedores' object.id %}" method="POST" class="form-control bg-dark text-white" style="--bs-bg-opacity: .5;">
                {%csrf_token%}
            
                  <div class="row">
                      <div class="col">
                          <h3>nit: {{object.nit}}</h3>
                          <h3>Proveedor: {{object.prov_nombre}}</h3>
                          <p style="color: red; font-weight: bolder;">¿Seguro que desea borrar este proveedor?</p>
                      </div>
                  </div>
  
                  <div class="row">
                      <div class="col text-center d-flex justify-content-center">
                          <button type="button" class="m-2 btn btn-secondary" data-bs-dismiss="modal">Close</button>
                          <button class="m-2 btn btn-success" type="submit">Eliminar</button>
                      </div>
                  </div>
              </form>
        </div>
    </div>
</div>    
{%endblock%}