{%extends "base.html"%}
{%block title%} Añadir Implementos de Trabajo {%endblock%}

{%block content%}
<div class="container">
    <div class="row">
        <div class="col">
            <h1>Agregar Implementos de Trabajos</h1>
        </div> 
    </div>

    <div class="mt-4 row justify-content-center">
        <div class="col-md-4">
            <form action="" method="POST" class="form-control bg-dark text-white" style="--bs-bg-opacity: .5;">
                {%csrf_token%}

                {% if form.errors %}
                    <div class="alert alert-info">
                        {{form.errors.it_nombre.0}}
                        {{form.errors.it_cantidad.0}}
                    </div>
                {% endif %}

                <div class="mx-4 my-2 row">
                    
                    <div class="mb-3 col-12">
                        <label for="id_mp_nombre" class="form-label">Implemento: </label>
                        {{form.it_nombre}}   
                    </div>
              
               
                    <div class="mb-3 col-12">
                        <label for="id_mp_fechallegada" class="form-label">Cantidad:</label>
                        {{form.it_cantidad}}   
                    </div>

                    <div class="mb-3 col-12">
                        <label for="id_mp_fechavencimiento" class="form-label">Fecha de Entrega:</label>
                        <br>
                        {{form.it_fechaEntrega}}  
                    </div>

                    <div class="mb-3 col-12">
                        <label for="id_imp_lote" class="form-label">Estado: </label>
                        {{form.it_estado}}
                    </div>

                    <div class="col">
                        <button class="btn btn-success" type="submit">Guardar</button>
                        |
                        <a href="{% url 'insumos_app:list_insumos' %}" type="button" class="btn btn-danger">Cancelar</a>
                    </div>
                </div>
                
            </form>
        </div>
    </div>
</div>    
{%endblock%}