{%extends "base.html"%}
{%block title%} Eliminar Implemento de Trabajo {%endblock%}

{%block content%}
<div class="container">
    <div class="row">
        <div class="col">
            <h1>Eliminar Implemento de Trabajo</h1>
        </div> 
    </div>

    <div class="mt-4 row justify-content-center">
        <div class="col-md-4">
            <form action="" method="POST" class="form-control bg-dark text-white" style="--bs-bg-opacity: .5;">
                {%csrf_token%}

                <div class="row">
                    <div class="col">
                        <h5>Implemento: {{object.it_nombre}} de código: {{object.it_codigo}}</h5>
                      <p>¿Seguro que desea borrar este Implemento?</p>
                    </div>
                </div>
                <div class="row justify-content-between">
                    <div class="col">
                        <button class="btn btn-danger" type="submit">Eliminar</button>
                    </div>
                    <div class="col">
                        <a href="{% url 'insumos_app:list_insumos' %}" type="button" class="btn btn-primary">Cancelar</a>
                    </div> 
                </div>
                
            </form>
        </div>
    </div>
</div>    
{%endblock%}