{%extends "base.html"%}
{%block title%} Detalle Materia Prima {%endblock%}


{%block content%}
    <div class="mt-3 row">

        <!--Tarjeta del Stock Materia Prima-->
        {% for stock in stock_materias %}
        <!-- Tarjeta de cada Materia Prima Genérica -->
        <div class="col-sm-6 mb-3 mb-sm-0">
            <div class="card">
                <div class="card-header">
                    <h5>{{ stock.materia_prima.mp_nombre }}</h5>
                </div>
                <div class="card-body">
                    <p>Stock Disponible: {{ stock.stock_disponible }}</p>
                    <a href="#" class="btn btn-success" role="button"><i class="far fa-check-circle"></i> Detalles</a>
                </div>
            </div>
        </div>
        {% endfor %}
      

        <!--Tarjeta del Stock Producto Terminado-->
        <div class="col-sm-6">
            <div class="card">
                <div class="card-header">
                    <h5>Stock Productos Terminados</h5>
                </div>

                <div class="card-body">
                    <p>Aqui va ir la información del stock</p>
                    <a class="btn btn-success" href="" type="button"><i class="fa-regular fa-circle-check"></i></a>
                </div>
            </div>
        </div>
    </div>

{%endblock%}


{% block extrajs %}
<script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
<script>

</script>
{% endblock %}
  