<div class="modal-dialog modal-md" role="document">
    <div class="modal-content bg-dark text-white">
      <div class="modal-header">
        <h5 class="modal-title">Agregar Insumos</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
          <form action="{% url 'pedidos_app:add__mp_pedidos' %}" method="POST" class="form-control bg-dark text-white" style="--bs-bg-opacity: .5;">
              {%csrf_token%}
          
              <div class="row">
                  <div class="mb-3 col">
                      <label for="id_imp_lote" class="form-label">Lote:</label>
                      {{form.mp_lote}}
                  </div>
                  <div class="mb-3 col">
                      <label for="id_mp_nombre" class="form-label">Materia Prima:</label>
                      {{form.mp_nombre}}   
                  </div>
                  <div class="mb-3 col">
                      <label for="id_mp_nombre" class="form-label">Tipo:</label>
                      {{form.mp_tipo}}   
                  </div>
                  <div class="mb-3 col">
                      <label for="id_mp_nombre" class="form-label">Cantidad:</label>
                      {{form.mp_cantidad}} g   
                  </div>
              </div>
              <div class="row">
                  <div class="mb-3 col">
                      <label for="id_mp_fechallegada" class="form-label">Fecha de Llegada:</label>
                      {{form.mp_fechallegada}}   
                  </div>

                  <div class="mb-3 col">
                      <label for="id_mp_fechavencimiento" class="form-label">Fecha de Vencimiento</label>
                      {{form.mp_fechavencimiento}}  
                  </div>
              </div>
      
                <div class="row">
                    <div class="col text-center d-flex justify-content-center">
                        <button type="button" class="m-2 btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button class="m-2 btn btn-success" type="submit">Guardar</button>
                    </div>
                </div>
            </form>
        </div>
    
    </div>
</div>

    