{%extends "base.html"%}
{%block title%} Detalle producto terminado {%endblock%}


{%block content%}
    
    <div class="row">
        <div class="col-sm-6 mb-3 mb-sm-0">
          <div class="card">
            <div class="card-header">
                <h5>Detalles Producto Terminado</h5>
            </div>
            <div class="card-body">
              <p class="card-text">Lote: {{ productoterminado.PT_lote }} |  {{productoterminado.PT_proNombre}}</p>
              <p class="card-text">Cantidad: {{ materiaprima.mp_cantidad }} g </p>
              <p class="card-text">Fecha de Llegada: {{materiaprima.mp_fechallegada}}</p>
              <p class="card-text">Fecha de Vencimiento: {{materiaprima.mp_fechavencimiento}}</p>
            </div>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="card">
            <div class="card-header">
                <h5 class="card-title">Caracteristicas Organolepticas</h5>
            </div>
            <div class="card-body">
               <!-- Verificar si ya existen características organolépticas -->
                {% if materiaprima.caracteristicasorganolepticas_set.all %}
                  <!-- Si ya existen, mostrar un mensaje o desactivar el enlace/botón para ingresar nuevas características -->
                  <div class="alert alert-warning" role="alert">
                      Ya se han ingresado características organolépticas para esta materia prima.
                      
                  </div>
                {% else %}
                  <!-- Si no existen, mostrar el enlace/botón para ingresar nuevas características -->
                  <a class="btn btn-primary" href="{% url 'produ_app:caracteristicas_mp' materiaprima.mp_lote %}" role="button"><i class="fa-regular fa-circle-check"></i> Agregar Características Organolépticas</a>
                {% endif %}
              <p class="card-text">
                {% for c in materiaprima.caracteristicasorganolepticas_set.all %}
                    {% if c.estado == '1' %}
                      <div class="row">
                        <div class="col-6">Estado: <p style="color: red;">{{ c.get_estado_display }}</p></div>
                        <div class="col-6 d-flex justify-content-center align-items-center"><a href="#" class="btn btn-warning" type="button">Editar</a></div>
                      </div>
                    {% else %}
                      <div class="row">
                        <div class="col-6">Estado: <p style="color: green;">{{ c.get_estado_display }}</p></div>
                        <div class="col-6 d-flex justify-content-center align-items-center"><a href="#" class="btn btn-warning" type="button"><i class="fa-regular fa-circle-check"></i> Editar</a></div>
                      </div>
                        
                        
                    {% endif %}
                {% endfor %}
              </p>
            </div>

            </div>
          </div>
        </div>
      </div>

      <div class="mt-3 row">
        <div class="col-sm-6 mb-3 mb-sm-0">
          <div class="card">
            <div class="card-header">
                <h5>STOCK</h5>
            </div>
            <div class="card-body">
             <p>Aqui va ir la información del stock</p>
             <a class="btn btn-success" href="{% url 'produ_app:exitenciaPT' productoterminado.PT_lote %}" type="button"><i class="fa-regular fa-circle-check"></i></a>
            </div>
          </div>
        </div>
      </div>
    
   
    
{%endblock%}